@page
@model IndexModel
@{

}

<div class="allEmojis">
    @foreach (var em in Model.Emojis)
    {
        <div class="allEmojis">
            <img src="@em.Url" alt="Emoji - @em.Key" />
            <code>@em.Key</code>
        </div>
    }

</div>

