@font-face {
    font-family: 'DOCK11';
    font-style: normal;
    font-weight: 900;
    src: local('DOCK11'), url('https://fonts.cdnfonts.com/s/22929/heavy_dock11.woff') format('woff');
}


h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'DOCK11', sans-serif;
    color: rgb(23,169,253);
    text-shadow:
    /*3D layers*/
    0px 0px 1px rgb(1,101,225), 0px 1px 1px rgb(1,101,225), 0px 2px 1px rgb(1,101,225), 1px 1px 1px rgb(1,101,225), 1px 2px 1px rgb(1,101,225), 1px 3px 1px rgb(1,101,225), 2px 2px 1px rgb(1,101,225), 2px 3px 1px rgb(1,101,225), 2px 4px 1px rgb(1,101,225);
}

.allEmojis {
    display: flex;
    flex-wrap: wrap;
}

div.emoji code {
    display: block;
}

div.emoji {
    margin: auto;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}

code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 0.8em;
}
